<div class="admin_header">
  <%= image_tag 'adminlego.png', :class => "brand" %>
  <h2 class="text-muted">Mailing List Dashboard Login</h2>
</div>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In" , :class => "btn btn-primary"%>
  <% if flash[:error_message] %>
    <h2><%= flash[:error_message] %></h2>
  <% end %>
<% end %>
