<p id="notice"><%= notice %></p>
<!-- <label for="name-search">Search by name:</label>
<input type="search" id="name-search" name="name-search"> -->
<!-- <button>Search</button> -->
<h1><a href="<%= login_path %>" data-method="delete">Sign Out</a></h1>
<form action="/users" method="GET">
  <input type="text" name="search_name" >
  <input type="submit" value="Search for Users">
</form>
<form action="/users" method="GET">
  <label for="filter">Topic filters</label>
  <select id="filter" name="filter" onchange="this.form.submit()">
    <option value="">Pick a topic to filter</option>
    <% @topics.each do |topic| %>
      <option value="<%= topic.name %>"><%= topic.name %></option>
    <% end %>
  </select>
</form>
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Topics</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.topics.pluck(:name).join(', ') %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Clear Filter Options", clear_path %>
