<%= image_tag 'legoblock.png', :class => "brand" %>
<h1>Build your own newsletter</h1>



<%= form_for @user do |f|%>
    <div class="form-group">
      <h3>Select what you want to see in your newsletter</h3>

      <div class="row topic-select">

        <% @topics.each do |topic|  %>
          <div class="col-md-3 offset-md-1 topic-box">
            <%= f.label topic.name %>
            <%= f.check_box :topics, {:class => "form-control"} , topic.name %>
            <%= image_tag 'lego-outline.png', :class => "outline" %>
          </div>
        <% end %>

      </div>

      <h3>How often would you like to receive mail?</h3>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "weekly" %>
          <%= f.label :Weekly, "Weekly", :class => "freq-label" %>
        </div>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "monthly" %>
          <%= f.label :Monthly, "Monthly", :class => "freq-label"%>
        </div>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "yearly" %>
          <%= f.label :Yearly, "Yearly", :class => "freq-label"%>
        </div>
    </div>
    <%= f.submit "Build my newsletter!", :class => "btn btn-warning build-button  btn-lg" %>
<% end %>
