<%= image_tag 'legoblock.png', :class => "brand lego-block" %>
<h1>Build your own newsletter</h1>



<%= form_for @user do |f|%>
    <div class="form-group">
      <h3 class="topic-header-select">Select what you want to see in your newsletter:</h3>

      <div class="row topic-select">

        <% @topics.each_with_index do |topic, index|  %>
          <div class="col-md-3 offset-md-1 topic-box">
            <div class="<%= index %>">
              <%= f.label topic.name %>
              <%= check_box_tag "topics[]", topic.id, {:class => "form-control"}%>
              <%= image_tag 'lego-outline.png', :id => "outline-lego" , :class => "outline hidden outline-lego#{index}" %>
              <%= image_tag 'legoblock.png', :id => "coloured-lego", :class => "outline coloured-lego#{index}" %>
            </div>

          </div>
        <% end %>

      </div>

      <h3>How often would you like to receive mail?</h3>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "weekly" %>
          <%= f.label :Weekly, "Weekly", :class => "freq-label" %>
        </div>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "monthly" %>
          <%= f.label :Monthly, "Monthly", :class => "freq-label"%>
        </div>
        <div class="frequency-choice">
          <%= f.radio_button :frequency, "yearly" %>
          <%= f.label :Yearly, "Yearly", :class => "freq-label"%>
        </div>
    </div>
    <%= f.submit "Build my newsletter!", :class => "btn btn-warning build-button  btn-lg" %>
<% end %>
