<h1 class="main_header">Become a Legoland Insider</h1>
<div class="row newsletter_features">
  <div class="col-md-4 desc_col">
    <%= image_tag 'lego1.png', :class => 'thumbnail' %>
    <h3 class="feature">Exclusive Deals</h3>
  </div>
  <div class="col-md-4 desc_col">
    <%= image_tag 'lego2.png', :class => 'thumbnail' %>
    <h3 class="feature">Special Events</h3>
  </div>
  <div class="col-md-4 desc_col">
    <%= image_tag 'lego3.png', :class => 'thumbnail' %>
    <h3 class="feature">First Look Previews</h3>
  </div>
</div>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |form| %>
  <div class="row">
    <div class="col-md-2 offset-md-4 field">
      <%= form.text_field :first_name, :class => 'form-control inputText', required: true, :placeholder => "First Name"%>
    </div>
    <div class="col-md-2 field">
      <%= form.text_field :last_name, :class => 'form-control inputText', required: true, :placeholder => "Last Name"%>
    </div>
    <div class="col-md-4 offset-md-4 field">
      <%= form.email_field :email, :class => 'form-control inputText', required: true, :placeholder => "Email Address"%>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= form.submit "Sign me up", class: "btn btn-block  sign-up"  %>
      <%= form.submit "Build your own newsletter", class: "btn btn-block btn-warning build-button" %>
    </div>
  </div>
<% end %>
<p class="col-md-4 offset-md-4 privacy_policy">We don't share your data with third parties. If you would like to read more check out our <u>privacy policy</u></p>
<% if session[:errors].present? %>
  <ul>
    <% session[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
    <ul>
    <% end %>
