<div class = "container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 box">
      <div class="row">
        <div class="col-5"><%= image_tag 'lego7.png', :class => 'pic' %></div>
        <div class="col-7 text">
          <h5><%= @user.first_name %> Thank you for joining legoland</h5>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div class="thumbnail">
  <div class="l1"><%= image_tag 'vampire.png', :class => 'lego' %>
    <%= image_tag 'batman.png', :class => 'lego' %></div>
  <div class="l2">  <%= image_tag 'lego8.png', :class => 'lego' %></div>
</div>
<div class= "flag">
  <h2 class="main_header">See you at Legoland!</h2>
  <button type="button" class="btn btn-warning"><strong>Home</strong>
    <a href="https://www.legoland.com/">
    </a>
  </button>
</div>
